<div class="main-outline">
	<div class="row">
	  <div class="span4 offset1"><h1>ABOUT US</h1></div>
	</div>
	<div class="row lrg">
		<div class="span5 offset1">
			<p class="lrg">Coffee 8065 is awesome because we're mura, have plenty of room for hanging with friends including a large smoking room. And let's not forget about our delicious Coffee drinks, food, and desserts! <br><br>Need we say more?<p>
			<!-- <h4>Coffee 8065 is Mura!</h4>
			<h4>Coffee 8065 is Smoker Friendly!</h4>
			<h4>Coffee 8065 is great for Chilling!</h4>
			<h4>Coffee 8065 has delicious Coffee!</h4> -->
		</div>
		<div class="span4 offset1"><%=image_tag('https://s3.amazonaws.com/coffeehouse/gathering.jpg',class: 'about')%></div>
	</div>
	<div class="row bottom">
		<div class="span2 offset2">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/hulk.jpg',class: 'menu')%>
		</div>
		<div class="span2 offset1">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/spiderman.jpg',class: 'menu')%>
		</div>
		<div class="span2 offset1">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/superhero.jpg',class: 'menu')%>
		</div>
	</div>
	<div class="about"></div>
	

</div>