<div class="main-outline">
	<!-- <p></p>
	<h1>Contact us</h1>
	<h2>Coffee Shop Location</h2> -->
	<p>Coffee 8065</p>
	<p>2nd Floor Veca BLDG. Estrella St.</p>
	<p>COR. Chino Roces Ave.</p>
	<p>San Antonio Village, Makati</p>

	<h2>Have a question?</h2>
	<p>Call us at 703-3045</p>
	<h2>We are Social</h2>
	<p>Follow us twitter.</p>
	<p>Like our Facebook page</p>
</div>
