<div class="outline">
	<div class="row">
		<div class="span5 offset6 home center">
			<h2>Welcome to 8065 Bagnet!</h2>
			<p><%= link_to "Check out our menu!", menu_path, class: 'btn btn-primary'%></p>
		</div>
	</div>
			
</div>