<div class="main-outline">
	<div class="row">
	  <div class="span4 offset1"><h1>HOURS</h1></div>
	</div>
	<div class="row lrg">
	  <div class="span4 offset1">
			<h2>Open times...</h2>
			<p>Mon - Sat<span>11am - 12am</span></p>
			<p>Sun<span>10am - 10pm</span></p>

			<h2 class="contact-heading">Yes, we do Parties!</h2>
			<p>Call us at 501-0913</p>
			<h2 class="contact-heading">Visit our FB</h2>
			<!-- <p>Follow us twitter. </p> -->
			<p><%=link_to(image_tag('https://s3.amazonaws.com/coffeehouse/fb.png'))%> Like our FB page</p>
		</div>
		<div class="span5 offset1">
			<%=image_tag('https://s3.amazonaws.com/coffeehouse/outside.jpg',class:"hours")%>
		</div>
	</div>	
</div>