<div class="main-outline">
	<div class="center">Bagnet</div>
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Good for Two</li>
					<li>Original			<span>185</span></li>
					<li>Curry					<span>195</span></li>
					<li>Binagoongan 	<span>195</span></li>
					<li>Pakbet				<span>195</span></li>
					<li>Sinigang			<span>195</span></li>
					<li>Sisig					<span>195</span></li>
					<li>Spicy Gata		<span>195</span></li>
					<li>Dinuguan			<span>195</span></li>
					<li>Kare-Kare			<span>195</span></li>
					<li>Water Spinach	<span>195</span></li>
				</ul>		  	
		  </div>
			<div class="span3 offset2">
				<ul>
					<li class="title">Budget Meal</li>
					<li style="text-align:center">(with rice & soup)</li>
					<li>Original			<span>115</span></li>
					<li>Curry					<span>120</span></li>
					<li>Binagoongan 	<span>120</span></li>
					<li>Pakbet				<span>120</span></li>
					<li>Sinigang			<span>120</span></li>
					<li>Sisig					<span>120</span></li>
					<li>Spicy Gata		<span>120</span></li>
					<li>Dinuguan			<span>120</span></li>
					<li>Kare-Kare			<span>120</span></li>
					<li>Water Spinach	<span>120</span></li>
				</ul>
			</div>
		</div>
		<div class="center">Steamed Fish</div>
		
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Good for Two</li>
					<li>Curry Sauce				<span>185</span></li>
					<li>Shrimp Paste Sauce<span>185</span></li>
					<li>Spicy Gata Sauce	<span>185</span></li>
					<li>Butter Phil. Lemon<span>185</span></li>
				</li>
		  </div>
			<div class="span3 offset2">
				<ul>
					<li class="title">Budget Meal</li>
					<li>Curry Sauce				<span>115</span></li>
					<li>Shrimp Paste Sauce<span>115</span></li>
					<li>Spicy Gata Sauce	<span>115</span></li>
					<li>Butter Phil. Lemon<span>115</span></li>
					<li><span></span></li>
				</ul>
			</div>
		</div>
		
		<div class="center">Other Foods</div>
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Vegetables</li>
					<li>Ensaladang Talong			<span>60</span></li>
					<li>Tortang Talong				<span>60</span></li>
					<li>Okra with Bagoong			<span>50</span></li>
					<li>Ensaladang Mangga			<span>50</span></li>
				</li>
		  </div>
			<div class="span3 offset2">
				<ul>
					<li class="title">Extra</li>
					<li>Plain Rice				<span>30</span></li>
					<li>Bagoong Rice			<span>40</span></li>
					<li>1/2 Plain Rice		<span>15</span></li>
					<li>1/2 Bagoong Rice	<span>20</span></li>
					<li>Mangga						<span>20</span></li>
					<li>Sauce							<span>20</span></li>
				</ul>
			</div>
		</div>
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Desserts</li>
					<li>Pastillas					<span>5</span></li>
					<li>Cinnamon Roll			<span>40</span></li>
					<li>Frozen Buko-Pandan<span>55</span></li>
				</li>
		  </div>
		</div>
		
		<div class="row bottom">
			<div class="span2 offset2">
				<%= image_tag('https://s3-us-west-2.amazonaws.com/bagnet/originalBagnet.jpg',class: 'menu')%>
			</div>
			<div class="span2 offset1">
				<%= image_tag('https://s3-us-west-2.amazonaws.com/bagnet/sisigBagnet.jpg',class: 'menu')%>
			</div>
			<div class="span2 offset1">
				<%= image_tag('https://s3-us-west-2.amazonaws.com/bagnet/waterSpinach.jpg',class: 'menu')%>
			</div>
		</div>
