<div class="main-outline">
	<div>
	<ul class='pull-left'>
		<li class="title">Hot Drinks</li>
		<li>Caffe Latte			<span>90</span></li>
		<li>Caffe Mocha			<span>90</span></li>
		<li>Cappuccino 			<span>90</span></li>
		<li>Hot Chocolate		<span>90</span></li>
		<li>Americano				<span>90</span></li>
		<li>Brewed Coffee		<span>90</span></li>
		<li>Black Tea				<span>90</span></li>
		<li>Green Tea				<span>90</span></li>
	</ul>
	<ul class='pull-right'>
		<li class="title">Cold Drinks</li>
		<li>Iced Latte			<span>90</span></li>
		<li>Iced Cappuccino	<span>90</span></li>
		<li>Iced Mocha			<span>90</span></li>
		<li>Iced Chocolate	<span>90</span></li>
		<li>Iced Calamansi	<span>90</span></li>
		<li>Sola Tea				<span>90</span></li>
		<li>Mineral Water		<span>90</span></li>
		<li>Soda Drinks			<span>90</span></li>	
	</ul>
</div>
	<div class="clear-fix"></div>
	<ul>
		<li class="title">Specialties</li>
		<li>Ham Panini			<span>90</span></li>
		<li>Bacon Panini		<span>90</span></li>
		<li>Sausage Panini	<span>90</span></li>
		<li>Pesto Pasta			<span>90</span></li>
	</li>
</div>
