<div class="main-outline">
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Hot Drinks</li>
					<li>Caffe Latte			<span>90</span></li>
					<li>Caffe Mocha			<span>90</span></li>
					<li>Cappuccino 			<span>90</span></li>
					<li>Hot Chocolate		<span>90</span></li>
					<li>Americano				<span>90</span></li>
					<li>Brewed Coffee		<span>90</span></li>
					<li>Black Tea				<span>90</span></li>
					<li>Green Tea				<span>90</span></li>
				</ul>		  	
		  </div>
			<div class="span3 offset2">
				<ul>
					<li class="title">Cold Drinks</li>
					<li>Iced Latte			<span>90</span></li>
					<li>Iced Cappuccino	<span>90</span></li>
					<li>Iced Mocha			<span>90</span></li>
					<li>Iced Chocolate	<span>90</span></li>
					<li>Iced Calamansi	<span>90</span></li>
					<li>Sola Tea				<span>90</span></li>
					<li>Mineral Water		<span>90</span></li>
					<li>Soda Drinks			<span>90</span></li>	
				</ul>
			</div>
		</div>
		
		<div class="row">
		  <div class="span3 offset2">
				<ul>
					<li class="title">Specialties</li>
					<li>Ham Panini			<span>90</span></li>
					<li>Bacon Panini		<span>90</span></li>
					<li>Sausage Panini	<span>90</span></li>
					<li>Pesto Pasta			<span>90</span></li>
				</li>
		  </div>
			<div class="span3 offset2">
				<ul>
					<li class="title">Desserts</li>
					<li>Cream Cake			<span>90</span></li>
					<li>Waffles					<span>150</span></li>
					<li>Cinniman				<span>90</span></li>
					<li>Ensemada				<span>90</span></li>
					<li><span></span></li>
					<li><span></span></li>
					<li><span></span></li>
					<li><span></span></li>
				</ul>
			</div>
		</div>
		
		<div class="row bottom">
			<div class="span2 offset2">
				<%= image_tag('https://s3.amazonaws.com/coffeehouse/hotCoffee.jpg',class: 'menu')%>
			</div>
			<div class="span2 offset1">
				<%= image_tag('https://s3.amazonaws.com/coffeehouse/waffle.jpg',class: 'menu')%>
			</div>
			<div class="span2 offset1">
				<%= image_tag('https://s3.amazonaws.com/coffeehouse/icedMocha.jpg',class: 'menu')%>
			</div>
		</div>
