@import "bootstrap";

body{
	background-color:$grayDark;
	
}
//universal
.pushdown{
	padding-bottom:75px;
}
.navbar{
	background-color:black;
}

.center{
	text-align:center;
}
// styles header and navbar
div.navbar-inner{
	height:50px;
	background-repeat:repeat;
	background-size:100%;
	ul{
		padding-top:5px;
		li{
			font-size:17px;
			a{
				&:link{
				color:red;
			}
				&:visited{
					color:red;
				}
				&:hover{
					color:#eee !important;
				};
			}
		}
	}
}

// styles logo on top left of screen
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
	span{
		color:red;
	}
	a{
		color: white;
		text-decoration: none;
	}
	&:hover {
		color: white;
		text-decoration: none;
	}
}

// this styles the home page
div.outline{
	margin-top: -20px;
	background-color:white;
	min-height:550px;
	background-image:url('https://s3-us-west-2.amazonaws.com/bagnet/bwbnet.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	div.row{
		position:relative;
		top:350px;
		.home{
			border-radius:5px;
			padding:5px 10px 5px 10px;
		background-color:white;
		h2,p{
			color:red;
			font-weight:bold;
			letter-spacing:-1px;	
			}
		}
	}
}
// description text for contact and about page
div.lrg{
	.contact-heading{
		padding-top:15px;
	}
	div{
		p{
			font-size:22px;
			line-height:25px;
			span{
				float:right;
			}
		}
	}
	
}
// this styles the main background for all but the home pge
div.main-outline{
	.about{
		padding-bottom:50px;
	}
	.center{
		padding-top:25px;
		font-size:35px;
		font-weight:bold;
	}
	margin-top:-20px;
	background-color:white;
	min-height:auto;
	background-image:url('https://s3.amazonaws.com/coffeehouse/stars_02.jpg');
	background-repeat:repeat;
	background-size:100%;
	z-index:-1;
	// this styles the menu page
	div.row{
		padding-top:30px;
	}
	// this styles the menu page, especially images at bottom
	div.row.bottom{
		padding-bottom:25px;
		text-align:center;
		position:relative;
		left:20px;
		img.menu{
			border-radius:7px;
		}
	}
	// This styles the menu lists
	ul{
		li.title{
			font-size:32px;
			margin-bottom:10px;
		}
		li{
			font-size:16px;
		}
		span{
			float:right;
		}
		list-style:none;
	}
}

// Styles footer
.footer{
	margin-top:-10px;
	height:50px;
	background-color:black;
	z-index:1;
	background-size:100%;
	small{
		margin: 10px 0 0 10px;
		color:#eee;
	}
	ul{
		li{
			float:left;
			padding:10px;
			a{
				&:link{
				color:red;
			}
				&:visited{
					color:red;
				}
				&:hover{
					color:#eee !important;
				}
			}
			img{
				height:25px;
				padding-right:5px;
			}
		}
		list-style:none;
	}
}

// contact page 
img.contact{
	position:relative;
	top:20px;
	border-radius:5px;
}
img.hours{
	position:relative;
	top:-40px;
	border-radius:5px;
}
img.about{
	border-radius:5px 5px;
}
