<div class="footer">
	<small class="pull-left">Coffee 8065 © 2013</small>
	<ul class="pull-right">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Hours", hours_path %></li>
		<li></li>
	</ul>
</div>