<div class="footer">
	<small class="pull-left">Coffee 8065 © 2013</small>
	<ul class="pull-right">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Hours", hours_path %></li>
		<li><%=link_to(image_tag('https://s3.amazonaws.com/coffeehouse/fb.png'),'https://www.facebook.com/COFFEE8065', :target => '_blank')%></li>
	</ul>
</div>